nav{
  text-align: center;
  padding: 0.5rem;
}
#playing-field{
  border: solid black 2px;
  width: calc(100% - 4rem);
  margin: 2rem;

  display: grid;
}
.playing-card{
  cursor: pointer;
}

.limbo-card{
  filter: grayscale(50%);
}
.claimed-card{
  filter: grayscale(100%);
}