<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Homepage</title>

		<link
			rel="stylesheet"
			href="./styles/css/master.css"
		/>
		<link
			rel="stylesheet"
			href="./styles/css/index.css"
		/>
	</head>
	<body>
		<nav>
			<h2>Memory Match</h2>
			<h4>Match each card with the same color and value!</h4>
		</nav>
		<section id="info-box">
			<h2>Welcome to memory match!</h2>
			<h3>Sign up or Log in below</h3>
			<img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><img
				class="back-card"
				src="https://res.cloudinary.com/dxo61knir/image/upload/v1697062182/Poker/Cards/back.png"
				alt="Back of Card"
			/><br />
			<button
				class="credential-btn"
				onclick="window.location.href='/user/login'"
			>
				Login</button
			><button
				class="credential-btn"
				onclick="window.location.href='/user/register'"
			>
				Register
			</button>
		</section>
	</body>
</html>
